name: sbt-kotlin-plugin build & test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    name: sbt-kotlin-plugin Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Compile & Test sbt 1.x
        run: sbt ++2.12.20 test scripted
      - name: Compile & Test sbt 2.x
        run: sbt ++3.7.4 test scripted
